body {
    font-family: "Source Serif Pro", serif;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#header {
    padding: 0 0;
    border-bottom: 1px solid #209cee;
}

#about {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    font-size: 16px;
}

.icon-link {
    color: #212529;
    font-size: 40px;
}

a:hover {
    text-decoration: none;
}

@media (min-width:320px) {
    body { width: 90% } 
}
@media (min-width:641px) {
    body { width: 75% } 
}
@media (min-width:961px) {
    body { width: 60% } 
}
@media (min-width:1281px) {
    body { width: 45% } 
}