body {
    font-family: "Source Serif Pro", serif;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 40px;
}

b {
    font-weight: bolder;
}

#header {
    padding: 0 0;
    border-bottom: 1px solid #007bff;
}

#about {
    padding-left: 0; 
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 18px;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(0, 123, 255, 0.3);
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there*/
    margin-bottom: 8px;
}

.icon-link {
    color: #212529;
    font-size: 40px;
}

a:hover {
    color: #007bff;
    text-decoration: none;
}

.sm {
   font-size: 18px; 
}

@media (min-width:320px) {
    body { width: 90% }
    .footer {width: 90% } 
    #about {font-size: 16px;}
}
@media (min-width:641px) {
    body { width: 75% } 
    .footer {width: 75% }
    #about {font-size: 18px;}
}
@media (min-width:961px) {
    body { width: 60% } 
    .footer {width: 60% }
}
@media (min-width:1281px) {
    body { width: 45% }
    .footer {width: 45% }
}